<section class="search-container">
  <form>
    <input type="text"
    class="search-input"
    [formControl]="search"
    spellcheck="false"
    autocomplete="none"
    placeholder="Artistas o canciones">
  </form>
 
</section>

<section class="title">
    <h2>Last Releases</h2>
</section>

<div class="main-container">

    <div class="columns is-centered is-multiline is-1">
        <div class="column is-one-quarter" *ngFor="let album of albumes | search:filtro_valor" [routerLink]="['/album', album.id, album.name, album.images[1].url]">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3" >
                    <img src="{{album.images[1].url}}" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="album-title is-5">{{album.name}}</p>
                      <p class="artist-name" *ngFor="let artist of album.artists">{{artist.name}}</p>
                    </div>
                  </div>
              
                  <!--<div class="content" *ngFor="let artist of album.artists">
                   <p>{{artist.name}}</p>
                  </div>-->
                  <div>
                   
                  </div>
                </div>
              </div>
        </div>
    </div>

</div>